* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .app-container {
  display: flex;
}

.content-container {
  flex: 1;
  padding: 30px;
} 



.user-list-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.user-list-header h2 {
  font-size: 18px;
  color: #007bff;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #dee2e6;
}

.user-item:hover {
  background-color: #e2e6ea;
}

.user-item div {
  flex: 1;
}

.user-item-actions button {
  margin-left: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.user-item-actions button:hover {
  background-color: #0056b3;
}

.footer-content {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-container {
  margin-top: 1500px; /* Adjust the margin-top value as needed */
}
